:root {
    font-size: clamp(1vh, 2vh, 3vh);
    
}

body, html {
    margin: 0;
    padding: 0;
}

.main-container {
    display: flex;
    height:100vh;
}

.left-container {
    display: flex;
    flex-basis: 34%;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: space-between;
    
    background-image: url("./images/haile-west-img.jpg");
    background-size: cover;
    background-position: center;
 
    text-align: center;
    
    max-height: 100vh;

    color: white;
}

.left-container h1 {
    background-color: rgba(0, 0, 0, 0.5);

    margin-top: 12rem;
    height: auto;
    font-size: 3rem;
}

a {
    color: inherit;
}

.right-container {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-basis: 66%;

    background-color: #e9e9e9;
    max-height: 100vh;
}

.block-1 {
    padding: 1rem;
    margin-top: 8rem;
    font-weight: bold;
    font-size: 1rem;
}

.block-2 {
    background-color: white;
    display: flex;
    flex-direction: column;
    
    padding: 1rem;
    
}

.block-2-header {
    font-size: 1.5rem;
}

.block-2-contents {
    display: flex;
}

.block-2-contents input {
    padding: 0.2rem;
    font-size: 1rem;
    height: 1rem;
    width: 15rem;
}

.block-2-contents-left {
    margin-right: 3rem;
}

.block-2-contents div {
    border: transparent 1px black;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.block-3 {
    padding: 1rem;
}

.block-3 span {
    color: #596D48;
    font-weight: bold;
}

button {
    font-size: 1rem;
    font-weight: bold;
    color: white;

    background-color: #596D48;

    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
}